<div ng-controller="AppController as appController">
  <div class="container bg-transparent border border-success">
    <div class="row text-center bg-success">
      <div class="col-md-auto">
        <h1 class="font-weight-bold text-warning">Frank's Car Shop</h1>
      </div>
    </div>
    <div>
      <button class="btn btn-link" ng-click="appController.showHome()" type="button">Home</button>
    </div>

    <div class="panel panel-warning">
      <div class="panel-heading"><span>Available Cars</span></div>
      </hr>
      <div class="padding-md">
        <table class="table table-bordered table-hover">
          <thead>
          <tr>
            <th ng-repeat="header in appController.carHeaders">
              <a href="#" ng-click="appController.sortColumn(header.id)">
                <span class="text-uppercase">{{header.label}}</span>
                <span ng-show="appController.orderByField == header.id">
                     <span ng-show="!appController.sortByDescending">
                    <i class="glyphicon glyphicon-chevron-up"></i>
                    </span>
                    <span ng-show="appController.sortByDescending">
                    <i class="glyphicon glyphicon-chevron-down"></i>
                    </span>
                  </span>
              </a>
            </th>
          </tr>
          </thead>
          <tbody>
          <tr ng-click="appController.showCarDetails(item)"
            ng-class="{ 'text-white bg-info': item == appController.selected }"
            ng-repeat="item in appController.allCars | orderBy : appController.orderByField:appController.sortByDescending | limitTo:appController.itemsPerPage:appController.itemsPerPage*(appController.currentPage-1)">
            <td class="text-underline cursor-pointer" ng-repeat="header in appController.carHeaders">
              {{item[header.id]}}
            </td>
          </tr>
          </tbody>
        </table>
      </div>
      <ul boundary-link-numbers="3" class="d-flex justify-content-center" items-per-page="appController.itemsPerPage" max-size="appController.itemsPerPage"
          ng-model="appController.currentPage" total-items="appController.allCars.length" uib-pagination></ul>
    </div>
  </div>
</div>
